.book-interface-container{
    height: auto;
    width: 100%;
    display: flex;
  background-color: #FFF7F1;

    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 1rem; /* Adjust spacing between books */
    box-sizing: border-box;
    padding: 1rem;
    justify-content: center; /* Center the content */
}
.book-item {
    flex: 1 1 calc(25% - 1rem); /* Four items per row, accounting for gap */
    height: 15rem;
    width: 5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    background-color: #FFE8C8;
    transition: 0.3s ;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    animation: bookInterfaceEntry linear;
    animation-timeline: view();
    animation-range: entry();
}
.book-item:hover{
    scale: 1.08;
    background-color: #F8C794;
}
@keyframes bookInterfaceEntry {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
@media screen and (max-width:1100px) {
    .book-item{
        flex:1 1 calc(33.3333% - 1rem);
    }
    .book-item:hover{
    background-color: #F8C794;
    scale: 1.08;
    }
}
@media screen and (max-width:800px) {
    .book-item{
        flex:1 1 calc(50% - 1rem);
    }
    .book-item:hover{
    background-color: #F8C794;
    scale: 1.08;
    }
}
@media screen and (max-width:500px) {
    .book-item{
        flex:1 1 calc(100% - 1rem);
    }
}