.home-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    padding-top: 10%;
    background-color: #FFF7F1;
    justify-content: center;
}
.home-component{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.home-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    text-align: center;
    padding: 1rem;
}
.home-description h1{
    font-weight: 500;
    font-size: 4.8rem;
    padding: 0;
}
.home-description h3{
    font-size: 1.5rem;
    font-weight: 400;
}
.home-description input{
    width: 10rem;
    padding: 0.6rem;
    font-size: 1.3rem;
    font-weight: 300;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #75A47F;
    transition: 0.4s;
}
.home-description input:active{
    scale: 0.9;
}
.book-image{
    width: 50%;
    height: 100%;
}
.book-image img{
    width: 100%;
    height: 100%;
}
.home-footer-title{
    height: 20%;
    width: 100%;
    font-size: 2.8rem;
    font-weight: 300;
    display: flex;
    align-items: end;
    justify-content: center;
    color: grey;
}
@media screen and (max-width: 1210px) {
    .home-container{
        height: auto;
    }
    .home-component{
        flex-direction: row;
        height: 100vh;
    }
    .home-description{
        width:50%;
        padding: 2rem;
    }
    .home-description h1{
        font-size: 4rem;
    }
    .home-description h3{
        font-size: 1.2rem;
    }
    .home-description input{
        width: 10rem;
        padding: 0.6rem;
        font-size: 1.3rem;
        font-weight: 300;
    }
    .book-image{
        width: 100%;
        height: 100%;
    }
    .home-footer-title{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        margin-top: 10rem;
    }
}
@media screen and (max-width: 1000px) {
    .home-container{
        height: auto;
    }
    .home-component{
        flex-direction: column;
        height: 100vh;
    }
    .home-description{
        width: 100%;
        padding: 2rem;
    }
    .home-description h1{
        font-size: 2.5rem;
    }
    .home-description h3{
        font-size: 1.2rem;
    }
    .home-description input{
        width: 8rem;
        font-size: 1rem;
        padding: 0.4rem;
    }
    .book-image{
        width: 100%;
        height: 100%;
    }
    .home-footer-title{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        margin-top: 10rem;
    }
}
@media screen and (max-width: 800px) {
    .home-component{
        flex-direction: column;
        padding-top: 20%;
        height: auto;
    }
    .home-description{
        width: 60%;
        padding: 0.5rem;
    }
    .home-description h1{
        font-size: 3.5rem;
    }
    .home-description h3{
        font-size: 1.2rem;
    }
    .home-description input{
        width: 8rem;
        font-size: 1rem;
        padding: 0.4rem;
    }
    .book-image{
        width: 100%;
        height: auto;
    }
    .home-footer-title{
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .home-component{
        flex-direction: column;
        padding-top: 20%;
        height: auto;
    }
    .home-description{
        width: 80%;
        padding: 0.5rem;
    }
    .home-description h1{
        font-size: 3rem;
    }
    .home-description h3{
        font-size: 1.1rem;
    }
    .home-description input{
        width: 7rem;
        font-size: 1rem;
        padding: 0.4rem;
    }
    .book-image{
        width: 100%;
        height: auto;
    }
    .home-footer-title{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 400px) {
    .home-component{
        flex-direction: column;
        height: auto;
        padding-top: 25%;
    }
    .home-description{
        width: 100%;
        padding: 0.5rem;
    }
    .home-description h1{
        font-size: 2.5rem;
    }
    .home-description h3{
        font-size: 1rem;
    }
    .home-description input{
        width: 6rem;
        font-size: 1rem;
        padding: 0.4rem;
    }
    .book-image{
        width: 100%;
        height: auto;
    }
    .home-footer-title{
        font-size: 1.5rem;
    }
}