.navigation-bar-container{
    height: 8rem;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color:#FFE0B5;
    display: flex;
    align-items: center;
}
.navigationBar-title{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigationBar-title h1{
    font-size: 3.4rem;
    letter-spacing: 0.5rem;
    color: #75A47F;
}
.navbar-components{
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.search-area{
    width: 18rem;
    height: 2rem;
    gap: calc(2%);
    display: flex;
    align-items: center;
    justify-content: end;
}
.searchfield{
    border: none;
    width: 0;
    height: 0;
    outline: none;
    transition: 0.4s;
    background-color: #FFE0B5;
}
.searchfield.visible{
    width: 100%;
    border-radius: 20px;
    padding: 0.5rem;
    height: 60%;
    justify-content: space-evenly;
    background-color: white;
}